version: "3.9"

services:
  db:
    image: postgres:15
    container_name: backend-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: backend_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: backend-api
    restart: always
    depends_on:
      - db
    ports:
      - "3000:3000"
    env_file:
      - .env
    command: >
      sh -c "
      npx prisma migrate deploy &&
      node dist/main.js
      "

volumes:
  postgres_data:
